
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4rem 1fr 4rem;
    grid-gap: 1rem;
    grid-template-areas: 
        "header     header  header  header"
        "main       main    main    main"
        "footer     footer  footer  footer"
    ;
    min-height: 100vh;
}


.l-header{
    grid-area: header;
    background-color: var(--light-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px -4px rgba(#2c3e50, .5);
    padding-left: 1em;
    padding-right: 1em;
}

.l-container{
    grid-area: main;
}

.l-footer{
    grid-area: footer;
}