*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat, sans-serif;
}

a{
    display: inline-block;
    text-decoration: none;
}

img{
    display: block;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 700;
    font-family: Moon, sans-serif;
}

